#contentContainer {
    z-index: 10;
    color: rgb(224, 210, 179);
    border-radius: 5px;
    position: fixed;
    width: 55vw;
    height: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    font-family: Cormorant-Garamond;
    opacity: 1;
}

#startBtn {
    color: #efe4cd;
    background-color: rgb(59, 59, 59);
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid rgba(163,135,66,.3);
    padding: 4px 25px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Cormorant-Garamond;
    opacity: 1;
}
#startBtn:hover {
    background-color: rgb(81, 81, 81);
    color: #f4e9d1;
}
#startBtn:active {
    background-color: rgb(49, 49, 49);
    color: #cabc9f;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
}

.words {
    z-index: 15;
}

#backgroundImg {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .02;
}
#windowCont {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 10px solid rgba(22, 22, 29, 1);
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: .7;
}
.paneRow {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.pane {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-top: 12px solid rgba(22, 22, 29, 1);
    border-right: 14px solid rgba(22, 22, 29, 1);
    border-left: 3px solid rgba(46, 46, 61, 1);
    border-bottom: 3px solid rgba(67, 67, 90, 1);
}

#quote-top {
    font-size: 30px;
}

@media only screen and (max-width: 800px) {
    #startBtn {
        font-size: 20px;
        padding: 4px 55px;
    }
    #quote-top {
        font-size: 24px;
    }
    .pane {
        border-top: 8px solid rgba(22, 22, 29, 1);
        border-right: 8px solid rgba(22, 22, 29, 1);
    }
}